{% extends 'base.html' %}

{% block blog %} class="active" {% endblock %}

{% block head%}All Categories{% endblock %}

<!--Blog Content -->
{% block Content %}

              {% for article in articles %}

              <article class="entry">

              <div class="entry-img">
                <img src="/media/{{ article.blog_image }}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                {{ article.blog_title }}
              </h2>

              <div class="entry-content">
                {{ article.blog_content | truncatewords:60 | safe}}

                <br>
                <div class="read-more">
                  <a href="blog/{{ article.blog_url }}">Read More</a>
                </div>
              </div>

              </article>

              {% endfor %}

{% endblock %}


<!--Configure Pagination-->
{% block pagination %}
<div class="blog-pagination">
    <ul class="justify-content-center">
        {% if page_numbers.third %}
       <li><a href="/{{page_numbers.first}}">{{page_numbers.first}}</a></li>
       <li class="active" href="/{{page_numbers.second}}"><a href="">{{page_numbers.second}}</a></li>
       <li><a href="/{{page_numbers.third}}">{{page_numbers.third}}</a></li>
       {% elif last %}
        <li><a href="/{{page_numbers.first}}">{{page_numbers.first}}</a></li>
       <li class="active"><a href="/{{page_numbers.second}}">{{page_numbers.second}}</a></li>
        {% else %}
       <li  class="active"><a href="/{{page_numbers.first}}">{{page_numbers.first}}</a></li>
       <li><a href="/{{page_numbers.second}}">{{page_numbers.second}}</a></li>
        {% endif %}
    </ul>
</div>
<br>
{% endblock %}


